extended-underline {
    position: relative;
    text-decoration: none; 
    
    
  }
  

extended-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%; 
    height: 2px; 
    background-color:yellow; }

    